* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write your CSS code here */
.app-container {
  background-color: #ffffff;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.wave-blog-container {
  background-color: transparent;
  border-style: solid;
  border: 5px solid #6d396b;
  width: 100%;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 30px;
  margin-right: 10px;
}
.not-found-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
